@font-face {
   font-family: 'american-brewery';
   font-display: swap;
   src: url('file:///C:/Users/dc-co/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-26_231055/fonts/american-brewery/font.ttf');
}
